[user]
  name = tatane
  email = sunnytj39@gmail.com

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  log = log --stat
  rm = rm -i
  pH = push origin HEAD
  sw = switch

[core]
  editor = vim

[includeIf "gitdir:~/src/github.com/blue-agency/**"]
  path = ~/.gitconfig-stadium

[ghq]
  root = ~/go/src

[url "git@github.com:"]
  insteadOf = https://github.com/